<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Send us your Good News Story</h4>
  <p class="f4 mb3 tc">Or just say hello, we don't mind</p>

  <form data-netlify="true" data-netlify-recaptcha="true" action="">
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>

    <!-- Message -->
    <fieldset class="db">
      <input class="db center mb2" type="file"
         id="image" name="image"
         accept="image/png, image/jpeg">
      <label for="image">Send us a photo to go with your Story</label>
    </fieldset>
    
    <div data-netlify-recaptcha="true"></div>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
