<nav class="overflow-x-scroll overflow-x-visible-ns justify-between items-center center bg-white divider-grey relative">

	<div class="mw9 center">
		<ul class="bg-black flex items-center justify-left">
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
			{{ partial "social-icon" (dict "link" "https://www.instagram.com/thegoodnews_au/" "svg" "icons-instagram") }}
			<li class="db relative " style="margin-left: auto"><a href="/contact" class="no-underline f5 pa3 bg-highlight db flex items-center">
				<svg width="20px" height="20px" class="dib mr2">
		      <use xlink:href="#icons-email"></use>
		    </svg>
				<span>
					Submit a Good News Story
				</span>
			</a></li>
		</ul>
	</div>

	<!-- Logo -->
	{{ if eq .Permalink "/" }}
		<img class="db pa1 center mw6" src="/img/SVG/TheGoodNews_Logo_tagline_BLK.svg" alt="The Good News tagline" class="br0 db mb0 w-100"/>
	{{ else }}
		<a href="/" class="db pa1 center mw6">
			<img src="/img/SVG/TheGoodNews_Logo_tagline_BLK.svg" alt="The Good News tagline" class="br0 db mb0 w-100"/>
		</a>
	{{ end }}

</nav>
