{{ define "main" }}
  <div class="center pv4 ph2 ph0-m" style="max-width: 640px;">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-end items-center grey-3 mb2">
      <p class="ma1" style="margin-right: auto;">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      {{ if .Params.fb }}
      <p>
        {{ partial "social-icon" (dict "link" "{{.Params.fb}}" "svg" "icons-facebook") }}
      </p>
      {{ end }}
      {{ if .Params.instagram }}
      <p>
        {{ partial "social-icon" (dict "link" "{{.Params.instagram}}" "svg" "icons-instagram") }}
      </p>
      {{ end }}
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    {{ if .Params.hashtags }}
    <div class="cms mw6 ws-normal">
      {{ .Params.hashtags | markdownify }}
    </div>
    {{ end }}

    <div class="db mt4 flex justify-around">
      <a class="btn {{if not .PrevInSection}} grey1 bcgrey1 disabled{{end}}" href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}">&larr; Older</a>
      <a class="f6 pa1" href="/">Back to Posts</a>
      <a class="btn btn-lg cc-btn-default{{if not .NextInSection}} grey1 bcgrey1 disabled{{end}}" href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">Newer &rarr;</a>
    </div>
  </div>
{{ end }}
